:root > * {
  --md-primary-fg-color:#01ab91;  
  --md-accent-fg-color:#009688;
  /*--md-primary-fg-color:#01ab91;
    --md-accent-fg-color:#0ec3a8;*/
}

/*
.md-header {
  background-color: #36353b; 
}

/*
.md-grid {
    max-width: 1000px; 
  }


#questi che seguono sono i colori (verde smeraldo) precedenti
#--md-primary-fg-color:#009688;
#--md-accent-fg-color:#00ac95;