:root > * {
  --md-primary-fg-color:#01ab91;  
  --md-accent-fg-color:#009688;
}

/* Testo principale del contenuto */
.md-typeset {
  font-size: 20px;   /* dimensione del testo principale */
  line-height: 1.5;  /* miglior leggibilità */
}

/* Titoli 
.md-content h1 { font-size: 2.5em; }
.md-content h2 { font-size: 2em; }
.md-content h3 { font-size: 1.75em; }
*/


/*Share button*/
.share-btn {
  color: #01ab91;
  font-size: 2rem;
  background: none;
  border: none;
  cursor: pointer;
  padding: 0;
}

.share-btn:hover {
  color: #009688;
}



/* Link Subscribe */
.subscribe-link {
  font-size: 1rem;
  font-weight: bold;
  color: #01ab91;
  text-decoration: none;
}

.subscribe-link:hover {
  color: #009688;
}