
<div class="giscus-wrapper">
  <script src="https://giscus.app/client.js"
          data-repo="smaragdiludus/smaragdiludus.github.io"
          data-repo-id="R_kgDOJ4RV7Q"
          data-category="General"
          data-category-id="DIC_kwDOJ4RV7c4Cugu7"
          data-mapping="pathname"
          data-strict="0"
          data-reactions-enabled="1"
          data-emit-metadata="0"
          data-input-position="top"
          data-theme="light"
          data-lang="en"
          data-loading="lazy"
          crossorigin="anonymous"
          async>
  </script>
</div>

<footer style="text-align:center; margin-top:1rem; padding:0.5rem 0; font-size:0.7rem; color:#ffffff; background-color: #01ab91;">
  Copyright © 2022-2025 Smaragdi Ludus by Celebra Anser
</footer>